[Unit]
Description=run gitspore
After=network.target

[Service]
User=root
Group=root
Type=simple
Restart=always
ExecStart=/var/lib/gitspore/run.sh

[Install]
WantedBy=default.target
